---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="text-lg font-mono tracking-normal my-2 text-blue-800">
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                <time
                  class="text-sm font-extralight text-blue-400"
                  datetime={post.data.pubDate.toISOString()}>
                  {post.data.pubDate.toLocaleDateString('en-us', {
                    year: 'numeric',
                  })}
                </time>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
